@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --linha-header: #117050;
   --cor-botao-pesquisa: #999;
   --cor-menu: #000;
}



header .linha {
   background-color: var(--linha-header);
   height: 10px;
}

.container {
   max-width: 1140px;
   margin: auto;
}

.logo img {
   width: 80px;
   cursor: pointer;
}

.header-direita {
   display: flex;
   align-items: center;
}

.header--area {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100px;
   margin-top: 25px;
}

.header-pesquisa form {
   display: flex;
}

.header-pesquisa input {
   font-size: 16px;
   padding: 8px 15px;
   border: 1px solid var(--cor-botao-pesquisa);
   outline: none;
   width: 100%;
   max-width: 250px;
}

.header-pesquisa button {
   border: 0;
   background: transparent;
   margin-left: -30px;
   cursor: pointer;
}

.header-pesquisa button img {
   width: 16px;
   height: 16px;
}

.menu {
   margin-left: 50px;
   cursor: pointer;
}

.menu ul {
   display: flex;
   gap: 10px;
   flex-direction: column;
   list-style: none;
}

.menu li {
   width: 30px;
   height: 3px;
   background-color: var(--cor-menu);
}

.banner {
   background-image: url("../images/bg.jpg");
   background-position: center;
   background-size: cover;
   padding-top: 90px;
   padding-bottom: 90px;
}

.banner h1 {
   font-family: 'Oswald', sans-serif;
   font-weight: bold;
   font-size: 100px;
   line-height: 100px;
   margin: 0;
   margin-bottom: 40px;
}

.banner-imagens img {
   width: 148px;
   height: 148px;
   border: 8px solid var(--linha-header);
   border-radius: 50%;
   margin-right: 30px;
}

.banner-imagens img:hover {
   transition: 0.3s ease-in-out;
   transform: scale(1.2);
   cursor: pointer;
}

.banner-imagens {
   margin-top: 60px;
}